.orderbook {
  width: 100%;
  display: flex;
}

.grid {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.orderbook-item {
  font-size: calc(10px + 2vmin);
}


