.page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderbook {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.orderbook-item {
  font-size: calc(10px + 2vmin);
}


