body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #282c34;
  height: calc(100vh - 20px);
  color: white;
  padding-top: 20px;
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
}

.unready {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 960px) {
  .data > div {
    height: 50vh;
    overflow: auto;
  }
}


